.boxe
{
    border: 2px solid black;
}
#stock
{
    position: fixed;
    top: 50px;
    left: 10px;
    
    width: 600px;
    height: 600px;
}
#exp
{
    position: fixed;
    top: 460px;
    left: 620px;
    
    width: 600px;
    height: 400px;
}
#achat
{   
    position: fixed;
    top: 50px;
    left: 620px;
    
    width: 600px;
    height: 400px;
}
#recettes
{
    position: fixed;
    top: 460px;
    left: 1230px;
    
    width: 600px;
    height: 400px;
}
#hist
{
    position: fixed;
    top: 50px;
    left: 1230px;

    width: 600px;
    height: 400px;
}

#butJeu
{
    position: fixed;
    top: 660px;
    left: 10px;
    
    width: 600px;
    height: 200px;
}
/* Header */
#indications {
    position: fixed;
    top: -10px;
    left: 350px;
}

/* Sections */
.enum
{
    max-height: 80%;
    overflow: auto; 
}
h2 {
    margin-left: 5px;
}

.boxe {
    background-color: lightgrey;
}

/* Bouttons */
#butBuy
{
    position: fixed;
    top: 73px;
    left: 950px;
}

#butDay
{
    position: fixed;
    top: 15px;
    left: 200px;
}

#butSell
{
    position: fixed;
    top : 73px;
    left : 300px;
}

#butMix
{
    position: fixed;
    top : 73px;
    left : 210px;
}

.but
{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

/* Input */
input
{
    width: 25px;
    background-color: lightslategrey;
}

/* Checkbox */
#selectAllBuy
{
    position: fixed;
    top: 73px;
    left: 1030px;
}

/* Liste */
.liste {
    margin-left: -23px;
    margin-top: -4px;
}

/* Historique */
.expLaunchedHistEntry {
    color: brown
}

.expFailedHistEntry {
    color: red;
}

.expSuccessHistEntry {
    color: green;
}

.expGoalSuccessHistEntry {
    color: blue;
}